<mat-label>Caption</mat-label>
<mat-form-field>
    <textarea matInput></textarea>
</mat-form-field>

<mat-label>Answers</mat-label>
<mat-chip-listbox>
    <mat-chip-option>
        Answer 1
        <button matChipRemove><mat-icon>cancel</mat-icon></button>
    </mat-chip-option>
    <mat-chip-option>Answer 2</mat-chip-option>
    <mat-chip-option>Answer 3</mat-chip-option>
</mat-chip-listbox>
<mat-form-field>
    <input matInput type="text" placeholder="Add Answer...">
</mat-form-field>


<button mat-raised-button color="primary">Add To Quiz</button>
