:host {
  display: grid;
  grid-template-columns: 1fr min(40%, 500px);

  .quiz-panel {
    position: relative;
    grid-column: 1;

    .scrollable {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow-y: auto;

      .cdk-drag-placeholder {
        opacity: 0;
      }

      .cdk-drag-animating {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      }

      .cdk-drop-list-dragging app-question-card:not(.cdk-drag-placeholder) {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      }
    }
  }

  .questions-panel {
    grid-column: 2;
    margin-inline-start: 4px;
    display: grid;
    grid-template-rows: auto 1fr;
    position: relative;

    mat-tab-group {
      grid-row: 2;
      position: absolute;
      width: 100%;
      height: 100%;

      input[type=search] {
        position: sticky;
        top: 5px;
        z-index: 3;
        width: calc(100% - 20px);
        margin: 5px;  
        color: var(--p-500);
        font-size: 1.5em;
        border: 2px solid var(--p-500);
        border-radius: 1em;
        padding-inline-start: 10px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
        outline: 0px transparent;
      }
    }


  }


  app-question-card {
    margin: 4px;
    cursor: move;
  }

  h1 {
    color: var(--p-300);
    font-weight: 100;
    margin: 4px;

    .sub {
      font-size: 0.5em;
    }
  }


}

