:host {
  display: grid;
  grid-template-columns: 1fr min(40%, 500px);

  .quiz-panel {
    position: relative;
    grid-column: 1;

    .scrollable {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow-y: auto;


      h1 {
        position: sticky;
        top: 0px;
        z-index: 3;
        background-color: var(--p-50);
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .cdk-drag-placeholder {
        opacity: 0;
      }

      .cdk-drag-animating {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      }

      .cdk-drop-list-dragging app-question-card:not(.cdk-drag-placeholder) {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      }
    }
  } //.quiz-panel

  .questions-panel {
    grid-column: 2;
    margin-inline-start: 4px;
    display: grid;
    grid-template-rows: auto 1fr;
    position: relative;
    background-color: var(--p-100);

    h1 {
      color: var(--p-500);
    }

    mat-tab-group {
      grid-row: 2;
      position: absolute;
      width: 100%;
      height: 100%;

      .search-box {
        position: sticky;
        top: 0px;
        z-index: 3;
        background-color: var(--p-100);

        input[type="search"] {
          width: calc(100% - 20px);          
          margin: 5px;
          color: var(--p-500);
          font-size: 1.5em;
          background-color: var(--p-50);
          border: 1px solid var(--p-200);
          border-radius: 1em;
          padding-inline-start: 10px;
          box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.2);
          outline: 0px transparent;

          &:focus {
            border-color: var(--p-500);
          }
          &::placeholder {
            opacity: 0.7;
            font-size: 0.8em;
          }
        }
      } // .search-box 

      .generate-box {
        position: sticky;
        top: 0px;
        z-index: 3;
        background-color: var(--p-100);
        padding: 5px;
      }
    }
  }

  app-question-card {
    margin: 8px;
    cursor: move;
  }

  h1 {
    color: var(--p-300);
    font-weight: 100;
    padding: 4px;

    .sub {
      font-size: 0.5em;
      align-self: flex-end;
      padding-bottom: 3px;
      padding-inline-start: 4px;
      margin-inline-end: auto;
    }
  }
}
