<ng-container *ngIf="questions$ | async as questions">
  <div class="quiz-panel">
    <div class="scrollable">
      <h1>
        {{ name$ | async }}
        <span class="sub">({{ questions.length }} questions)</span>
      </h1>
      <div class="questions" cdkDropList #targetList="cdkDropList">
        <app-question-card
          cdkDrag
          *ngFor="let question of questions; let i = index"
          [question]="question"
          [index]="i + 1"
        />
      </div>
    </div>
  </div>
  <div class="questions-panel">
    <h1>Questions</h1>
    <mat-tab-group class="stretch">
      <mat-tab label="Search">
        <div class="root">
          <input type="search" matInput />
          <div class="questions-list" 
            cdkDropList
            [cdkDropListConnectedTo]="targetList"
            >
            <app-question-card
              cdkDrag
              *ngFor="let question of catalog$ | async"
              [question]="question"
              [minimized]="true"
            />
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Edit">

      </mat-tab>
      <mat-tab label="Auto-Generate"></mat-tab>
    </mat-tab-group>
  </div>
</ng-container>
