:host {
    display: flex;
    flex-direction: column;

    .cdk-drag-placeholder {
        opacity: 0;
      }
      
      .cdk-drag-animating {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      }

      .cdk-drop-list-dragging app-question-card:not(.cdk-drag-placeholder) {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      }

    h1 {
        color: var(--p-300);
        font-weight: 100;
        margin: 4px;

        .sub {
            font-size: 0.5em;
        }
    }

    app-question-card {
        margin: 4px;
        cursor: move;
    }
}